In [1]:
import pandas as pd

In [35]:
nn = pd.read_csv('sub_nn.csv')
lg = pd.read_csv('sub_80.4.csv')

In [36]:
w_nn = 0.3
w_lg = 0.7

In [37]:
sub = pd.DataFrame(data={'SK_ID_CURR': nn['SK_ID_CURR'], 'TARGET': (w_nn * nn['TARGET'])+ (w_lg*lg['TARGET'])  })

In [38]:
sub.to_csv('sub_'+ str(w_nn)+ '-' +str(w_lg)+ '.csv', index=False)

In [39]:
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.313847
1      100005  0.611331
2      100013  0.307496
3      100028  0.367718
4      100038  0.653459

In [16]:
nn.head()

   SK_ID_CURR    TARGET
0      100001  0.035192
1      100005  0.052773
2      100013  0.037591
3      100028  0.043892
4      100038  0.155719